body {
    margin: 0;
    font-family: sans-serif;
}

.section_one {
    background-color: #1f2937;
    margin: auto;
    height: 500px;
    padding: 0 100px;
}

nav {
    display: flex;
    align-items: baseline;
}

nav ul {
    display: flex;
    margin-left: auto;
    gap: 5px;
    list-style: none;
}

nav li {
    margin: 0 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 10px 0 0 0;
}

.intro {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 100px 0;
}

.intro div {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0;
}

button {
    background-color: #3883f6;
    color: #f9faf8;
    border: 2px solid #3883f6;
    border-radius: 7px;
    padding: 5px 40px;
    margin-top: 5px;
    margin-right: auto;
}

.intro img {
    max-width: 640px;
    width: 100%;
    height: 230px;
}

.section_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    padding: 10px 100px 80px 100px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 50px;
}

.section_two div {
    display: flex;
    width: 80%;
}

.section_two div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.section_two img {
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

.section_two p {
    font-size: 18px;
    text-align: center;
    color: #888888;
    margin: auto;
    padding: 5px 20px;
}

.section_three {
    display: flex;
    background-color: #e5e7eb;
    height: 350px;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 0 110px;
}

blockquote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    margin: 0;
}

.credit {
    text-align: right;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    font-style: normal;
}

.section_four {
    display: flex;
    align-items: center;
    height: 350px;
    padding: 0 100px;
}
.section_four div {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #3883f6;
    height: 40%;
    width: 100%;
}

.section_four div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 550px;
    margin-left: 100px;
    margin-right: 175px;
}

.section_four p {
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

.section_four .sign {
    font-size: 18px;
    color: #e5e7eb;
}

.section_four button {
    border: 2px solid #f9faf8;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
}

footer p {
    color: #e5e7eb;
}